:root{
  		--background1: rgb(221,221,221);
  		--background2: rgb(200,230,160);
  		--background3: rgb(250,208,122);
  		--button1: #8c9e8d;
  		--button2: rgb(245, 172, 20);
  		--button3: #ffd400;
	}



html{
	height : 100%;
	width : 100%;
}body{
	min-height : 95%;
	min-width :  95%;
}

body *
{
	box-sizing:border-box;
	font-size: 0.8rem;
    /* border: 1px solid black; */
	/* max-height : 100%; */
	/* max-width : 100%; */
	/* min-height : fit-content; */
	/* min-width : fit-content; */
	
}

button {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

body
{
	background-color:var(--background1);
	position: relative;
}

body #headBar {
	border-width : 1px 1px 0 1px;
	border-color: black;
	border-style: solid;
	padding : 3px;
	border-radius : 5px 5px 0 0;
}

section{
	border : 1px solid black;
	padding : 3px;
}

section>*
{
	margin : 0 2px 0 2px;
}

section> *:first-child
{
	margin : 0 2px 0 0;
}

section> *:last-child
{
	margin : 0 0 0 2px;
}

body>div:first-child
{
	padding : 2px;
	border : 2px solid green;
}

.quittButton{
	width: 1.2rem;
	height: 1.2rem;
	border-radius : 100%;
	background: var(--button1);
	border: 2px solid #222b22;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#TabMenuSemaine> div
{
}

#LigneJours
{
	height:5rem;
	font-family:  "Arial Black", Arial, Verdana, sans-serif;
	font-size: 1.2rem; 
}
.ColJour {
    border: 1px solid black;
	border-collapse: collapse;
	margin : 7px;
	padding : 2px;
	flex : 1;
}

.ColJour >*
{
	flex-grow : 1;	/* remplit l'espace vide */
    flex-basis: 0; /* permet de remplir l'espace vide mais de ne pas redimensionner les cellules en fonction du contenu*/
	
	margin : 1px 0 1px 0;
}

.jour
{
	text-align: center;
	background-color: rgb(90, 180, 50);
	max-height: 2.5rem;
	width: 100%;
	color: white;
}


.ConteneurMidiSoir
{
	//flex : 1;
    border: 1px solid black;
	min-width:100%;
}

.repasMidiSoir {
	flex: 1;	
	text-align: center;
}

.repasMidiSoir>div:first-child {
	width: 100%;
	flex : 1;
	padding : 1px;
}
.repasMidiSoir .plat{
	
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: flex-start;
	margin : 3px 0 0 3px;
	width : 100%;
	text-align: left;
}
.repasMidiSoir .plat img{
	height : 2.5rem;
	width : 2.5rem;
	margin-right : 6px;
}
.repasMidiSoir[nb_elts="1"] .plat{
	/* equic class csc*/
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width : auto;
}
.repasMidiSoir[nb_elts="1"] .plat img{	
	width: 60%;
    height: auto;
}

.addPlatDiv {
	height : 1.2rem;
	width : 100%;
	margin : 0.2rem;
}

.addPlatBtn {
	width: 1.2rem;
	height: 100%;
	border-radius : 100%;
	background-color:var(--button2);
	border: 2px solid #222b22;
	display : none;
}

#TabMenuSemaine .ConteneurMidiSoir:hover .addPlatBtn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.plat {
	max-height : 100%;
	max-width : 100%;
	position : relative;
}

.removePlatBtn {
	height : 1.2rem;
	width: 1.2rem;
	border-radius : 100%;
	background-color: #5ab432;
	border: 2px solid red;
	display: none;
	
    position: absolute;
	bottom : 0.2rem;
	right : 0.2rem;
}

#TabMenuSemaine .plat:hover .removePlatBtn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.notes{
	border-radius : 8px;
	padding :8px;
	border : 1px solid #282113;
	text-align : left;
	resize:none;
}

.midiSoir,.notes,.repas
{
	background-color:var(--background3);
	width:100%;
	max-width : 100%;
}

.midiSoir
{
	background-color:rgb(245, 172, 20);
	user-select: none;
}

.courses
{
    border: 2px solid rgb(47,153,224);
    border-radius: 10%;
    box-shadow: 1px 1px 1px rgb(47,153,224);
    background-color: rgba(179, 136, 103,0.7);
}

#fleche
{
	
}

.zone_boutons {
	min-width:fit-content; 
	max-width: max-content;
	
}

.zone_boutons>* {
	background:var(--button3);
	border-radius : 10px;
	margin:3%;
	min-height:2.5em;
	width : 100%;
	white-space: nowrap;
	border : 3px solid #ffd400;
}


#sectionPlats  img{
	width: 100%;
    height: auto;
}

#sectionPlats > *
{
	width : 100%;
}

#divPlatsFavoris, #divPlatsFavoris , #DivMenuSemaine, #divNouveauPLat
{
	background-color:var(--background2);
}

#listePlatsFavoris  .platSelect
{
	width : 100%;
	border : 1px solid black;
	margin : 0.2em 0 0.2em 0 ;
	background-color:rgb(250,208,122);
}
#listePlatsFavoris  .platSelectPatern
{
	display : none;
}

#listePlatsFavoris  .platSelect> th
{
	margin : 1em 2em 1em 2em;
	font-size : 1.4rem;
	user-select: none; /* Standard */
}

#listePlatsFavoris  .platSelect > th:first-child
{
	margin : 1em 2em 1em 2em;
	font-size : 1rem;
	width : 100px;
}

#sectionNouveauPlat #platPict {
	width : 50%;
}


#sectionNouveauPlat #commentaires, #sectionNouveauPlat #ingrédients {
	height : 48%;
	background-color:rgb(250,208,122);
	padding : 4px;
}

#sectionNouveauPlat #platPict img {
	margin-bottom : 12px;
}

#sectionNouveauPlat .defautImg {
	filter: brightness(0.5);
}

#sectionNouveauPlat .newInput {
	margin-top : 12px;
	width : 100%;
}
.puce {
	margin-right:5px;
	font-size:15px;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background : red;
}

/* flex classes */
/* 	formed as : direction -	justification -	alignment
				r: row
				c: column
							s: start
							e: end
							c: center
							b: space-between
							a: space-around
							v: space-eVenly
											s: flex-start
											e: flex-end
											c: center
											t: sTretch
											
	on justifie sur la directoin spécifiée et on aligne sur l'autre.
*/

.flexFill {
	flex : 1;
}

.rss{	display: flex;	flex-direction: row;	justify-content: start;			align-items: flex-start;}
.rse{	display: flex;	flex-direction: row;	justify-content: start;			align-items: flex-end;}
.rsc{	display: flex;	flex-direction: row;	justify-content: start;			align-items: center;}
.rst{	display: flex;	flex-direction: row;	justify-content: start;			align-items: stretch;}
.res{	display: flex;	flex-direction: row;	justify-content: end;			align-items: flex-start;}
.ree{	display: flex;	flex-direction: row;	justify-content: end;			align-items: flex-end;}
.rec{	display: flex;	flex-direction: row;	justify-content: end;			align-items: center;}
.ret{	display: flex;	flex-direction: row;	justify-content: end;			align-items: stretch;}
.rcs{	display: flex;	flex-direction: row;	justify-content: center;		align-items: flex-start;}
.rce{	display: flex;	flex-direction: row;	justify-content: center;		align-items: flex-end;}
.rcc{	display: flex;	flex-direction: row;	justify-content: center;		align-items: center;}
.rct{	display: flex;	flex-direction: row;	justify-content: center;		align-items: stretch;}
.rbs{	display: flex;	flex-direction: row;	justify-content: space-between;	align-items: flex-start;}
.rbe{	display: flex;	flex-direction: row;	justify-content: space-between;	align-items: flex-end;}
.rbc{	display: flex;	flex-direction: row;	justify-content: space-between;	align-items: center;}
.rbt{	display: flex;	flex-direction: row;	justify-content: space-between;	align-items: stretch;}
.ras{	display: flex;	flex-direction: row;	justify-content: space-around;	align-items: flex-start;}
.rae{	display: flex;	flex-direction: row;	justify-content: space-around;	align-items: flex-end;}
.rac{	display: flex;	flex-direction: row;	justify-content: space-around;	align-items: center;}
.rat{	display: flex;	flex-direction: row;	justify-content: space-around;	align-items: stretch;}
.rvs{	display: flex;	flex-direction: row;	justify-content: space-evenly;	align-items: flex-start;}
.rve{	display: flex;	flex-direction: row;	justify-content: space-evenly;	align-items: flex-end;}
.rvc{	display: flex;	flex-direction: row;	justify-content: space-evenly;	align-items: center;}
.rvt{	display: flex;	flex-direction: row;	justify-content: space-evenly;	align-items: stretch;}

.css{	display: flex;	flex-direction: column;	justify-content: start;			align-items: flex-start;}
.cse{	display: flex;	flex-direction: column;	justify-content: start;			align-items: flex-end;}
.csc{	display: flex;	flex-direction: column;	justify-content: start;			align-items: center;}
.cst{	display: flex;	flex-direction: column;	justify-content: start;			align-items: stretch;}
.ces{	display: flex;	flex-direction: column;	justify-content: end;			align-items: flex-start;}
.cee{	display: flex;	flex-direction: column;	justify-content: end;			align-items: flex-end;}
.cec{	display: flex;	flex-direction: column;	justify-content: end;			align-items: center;}
.cet{	display: flex;	flex-direction: column;	justify-content: end;			align-items: stretch;}
.ccs{	display: flex;	flex-direction: column;	justify-content: center;		align-items: flex-start;}
.cce{	display: flex;	flex-direction: column;	justify-content: center;		align-items: flex-end;}
.ccc{	display: flex;	flex-direction: column;	justify-content: center;		align-items: center;}
.cct{	display: flex;	flex-direction: column;	justify-content: center;		align-items: stretch;}
.cbs{	display: flex;	flex-direction: column;	justify-content: space-between;	align-items: flex-start;}
.cbe{	display: flex;	flex-direction: column;	justify-content: space-between;	align-items: flex-end;}
.cbc{	display: flex;	flex-direction: column;	justify-content: space-between;	align-items: center;}
.cbt{	display: flex;	flex-direction: column;	justify-content: space-between;	align-items: stretch;}
.cas{	display: flex;	flex-direction: column;	justify-content: space-around;	align-items: flex-start;}
.cae{	display: flex;	flex-direction: column;	justify-content: space-around;	align-items: flex-end;}
.cac{	display: flex;	flex-direction: column;	justify-content: space-around;	align-items: center;}
.cat{	display: flex;	flex-direction: column;	justify-content: space-around;	align-items: stretch;}
.cvs{	display: flex;	flex-direction: column;	justify-content: space-evenly;	align-items: flex-start;}
.cve{	display: flex;	flex-direction: column;	justify-content: space-evenly;	align-items: flex-end;}
.cvc{	display: flex;	flex-direction: column;	justify-content: space-evenly;	align-items: center;}
.cvt{	display: flex;	flex-direction: column;	justify-content: space-evenly;	align-items: stretch;}